@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: color(display-p3 0.008 0.008 0.165 / 0.15);
  --primary: #ffffff;
  --secondary: color(display-p3 0 0.02 0.063/0.62);
}

[data-theme='dark'] :root {
  --background: #0f0f11;
  --foreground: #ffffff;
  --primary: #282c34;
  --secondary: #a39fa9;
}

body {
  color: var(--foreground);
  background: var(--background);
}

code {
  font-family: 'DM Mono', monospace; /* Apply DM Mono to all code elements */
  @apply px-1 py-0.5 mx-0.5 bg-primary dark:bg-gray-800 text-sm rounded text-foreground dark:text-amber-50;
}

.code-block {
  font-family: 'DM Mono', monospace; /* Apply DM Mono to all code elements */
  @apply relative mt-4 border border-gray-500 rounded-b rounded-md;

  .filename {
    @apply block w-full text-sm text-[#f637e3] border-b border-gray-500 p-2.5 bg-[#0f0f11] cursor-pointer;
  }
}

pre[class*=language-] {
  @apply bg-primary dark:bg-black shadow-inner w-full p-2.5 m-0 text-sm overflow-x-auto;
  margin-top: 0;
  font-family: 'DM Mono', monospace; /* Apply DM Mono to all pre elements */

  code {
    @apply p-0 m-0 bg-transparent text-black dark:text-white;
  }
}

.cm-editor {
  font-size: 0.8rem;
}
p, ul, ol {
  @apply text-sm my-1;
}

.parsed-text {
  p {
    margin: 8px 0;
  }
  ul {
    list-style: initial; /* Ensure default list styling is allowed */
    margin-left: 12px;

  }
  img {
    margin: 12px 0;
  }
}

h2 {
  @apply text-lg my-3 border-b border-gray-500;
}
